h2 Enter RESTful Service to test

form(method='post',action='/services/create')
	p
	table
		tr
			td
				label URL: &nbsp;
				input(type='text', id='params[url]', name='params[url]', size="40") &nbsp;
	
	p
		input(type="submit", value="Submit")

