body
	h1 API Discovery Document

	#role	an External Application
	#want	find API Metadata
	#benefit can get knowledge of API
		
	#rationale This allows an application to get context information to access API

	h2 Acceptance Criteria
	#given	link to API Discovery document
	#when	I open document
	#then  	it contains service metadata
	#and  	it contains resource collections
	#and  	it contains resource methods
	#and  	it contains schemas
	#and  	it contains security information