body
	h1 Valid Endpoint

	#role	an External Application
	#want	make sure that the supplied end point id available
	#benefit can start interfacing with the web service
		
	#rationale We want to make sure that the web service is available

	h2 Acceptance Criteria
	#given	supplied url
	#when	make a HEAD request
	#then  	it is valid and available 