<!DOCTYPE>
<html>
<head>
	<title>RIP Analytics</title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<h2><img src='/images/RIP.png' width='200' /> Analytics</h2>

  <iframe src="http://www.seethestats.com/stats/6809/NewVisits_14c9c7a03_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>

<iframe src="http://www.seethestats.com/stats/6809/Pageviews_a7dabc764_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>

<iframe src="http://www.seethestats.com/stats/6809/TimeOnSite_26ba39f5d_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>

<iframe src="http://www.seethestats.com/stats/6809/VisitsByCountry_d55c5d448_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>

<iframe src="http://www.seethestats.com/stats/6809/Visits_192fe7c6b_ifr.html" style="width:700px;height:300px;border:none;" scrolling="no" frameborder="0"></iframe>

</body>
</html>