body
	h1 Idempotence

	#role	an External Application
	#want	access resources using limited HTTP verbs
	#benefit can reduce interface complexity
		
	#rationale This allows an application to access resources in a limited and consistent manner

	h2 Acceptance Criteria
	#given	link to API Discovery document
	#when	I exercise API
	#then  	it follows idempotence rules