body
	h1 No Discovery Document

	#role	an External Application
	#want	find API Discovery Document
	#benefit can get knowledge of API
		
	#rationale Follow the AtomPub Discovery Service - TO BE IMPLEMENTED

