body
	h1 GeoServices API Discovery Document

	#role	an External Application
	#want	find API Discovery Document
	#benefit can get knowledge of API
		
	#rationale This allows an application to get context information to access API

	h2 Acceptance Criteria
	#given	link to Catalog document is accessible
	#when	I follow the link
	#then  	Catalog Document is accessible
	#and  	Catalog Document should be accessible with proper headers as well
	
	h2 Acceptance Criteria
	#given	link to API Discovery document is accessible
	#when	I follow the link
	#then  	document should contain service metadata
	#then  	document should contain service collections
	#then  	document should contain folders
	
	h2 Acceptance Criteria
	#given	link to API Discovery document is accessible
	#when	I follow the link
	#then  	document should point to service catalogs
	#then  	services should have their own description documents

	h2 Acceptance Criteria
	#given	link to Service document is accessible
	#when	I follow the link
	#then  	service description is available
	#then  	service description document should contain description
	#then  	service description document should contain list of published resources
	#then  	service description document should contain list of schemas
	#then  	service description document should contain security information

	h2 Acceptance Criteria
	#given	link to folder document is accessible
	#when	I follow the link
	#then  	service description is available
	#then  	folders should have their own description documents
