body
	h1 OpenSearch Document

	#role	an External Application
	#want	find OpenSearch Document and Exercise search in HTML format
	#benefit can provide in-browser search to my users 
		
	#rationale This allows a browser to provide in-line custom search

	h2 Acceptance Criteria
	#given	link to OpenSearch document
	#when	I follow the link and specify HTML output
	#then  	I should get results in html