    <div class="g-section g-tpl-170">

      <div class="g-unit g-first" id="gc-toc">
        <ul>
  <li><a href="/">Home</a></li>
  <li><b>API Documentation</b></li>
  <li>

  <ul>
    <li><a href="/docs/overview.ejs">Overview</a></li>
    <li> Version  1 
      <ul>
        <li>Developer's Guide
          <ul>
            <li><a href="/docs/getting_started.ejs">Getting Started</a></li>
            <li><a href="/docs/using.ejs">Using the API</a></li>
            <li><a href="/docs/notifications.ejs">Notifications</a></li>
          </ul>
        </li>
        <li><a href="/docs/reference.ejs">Reference</a></li>
      </ul>
    </li>

    <li><a href="/docs/release_notes.ejs">Release Notes</a></li>
    <li><a href="/docs/terms.ejs">Terms and Conditions</a></li>
  </ul>
  </li>
  <div class="line"></div>
  
  <li><h2>Additional Resources</h2>

    <ul>
      <li><a href="http://code.google.com/apis/tasks/libraries.html">Libraries and Samples</a></li>
      <li><a href="http://code.google.com/apis/console">APIs Console</a></li>
      <li><a href="http://code.google.com/apis/explorer">APIs Explorer</a></li>
    </ul>
  </li>
</ul>

        <a class="hidden" href="#gc-topnav-anchor">More Google Tasks API resource links</a>
      </div>