<!DOCTYPE html>

<html>
  <head>
    
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Overview - SPS API</title>

<link href="http://code.google.com/css/codesite.pack.04102009.css" type="text/css" rel="stylesheet">
<script src="http://code.google.com/js/codesite_head.pack.04102009.js" type="text/javascript"></script>
<script type="text/javascript">CODESITE_CSITimer['load'].tick('bhs');</script>

<link rel="search" type="application/opensearchdescription+xml" title="Google Code" href="/osd.xml">

<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/iehacks.css"><![endif]-->

    <link href="http://code.google.com/css/semantic_headers.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="http://code.google.com/apis/shared/css/apireference.css" />
    
  </head>

  <body class="gc-documentation">

<div id="codesiteContent">

<a id="gc-topnav-anchor"></a>
<div id="gc-topnav">
  <h1>SPS API</h1>
</div> <!-- end gc-topnav -->


<%- partial('sidebar')%>

<div class="g-unit" id="gc-pagecontent">
        
<script type="text/javascript">CODESITE_docEarlyProcessing();</script>

        
<h1 class="page_title">Notifications</h1>

<p>The SPS maintains an activity stream of all user activities on the system </p>
<p>
The actual feed can be found <a href='<%=server_url%>/modis/geoactivities'>here</a>
</p>
<p>This feed is published to the <a href='http://geobliki.superfeedr.com'>GeoBliki PubSubHubbub Server</a></p>
<p>If you want to write your own client, go <a href='http://superfeedr.com/documentation#subscriber'>there</a></p>
<p>If you are a GeoBliki user, you can use our <a href='http://opsb.geobliki.com'>OPSB client</a> and subscribe to various topics.  Based on your notifications preferences, you will be alerted when changes occur.
	</p>

<h2>Activity Stream</h2>

Find Activity Stream Specification Information <a href='http://activitystrea.ms/'>here</a>
<br/>
<br/>
<iframe src='http://en.wikipedia.org/wiki/Activity_stream' width='900' height='1200' frameborder='0'/>
  
<h2>Notifications</h2>

Pubsubhubbub

<br />
<br />

      </div><!-- end gc-pagecontent -->
    </div><!-- end gooey wrapper -->
  </div> <!-- end codesite content -->
</div><!-- end gc-container -->

<script type="text/javascript">CODESITE_CSITimer['load'].tick('ats');</script>
<script src="http://code.google.com/js/codesite_tail.pack.04102009.js" type="text/javascript"></script>
  </body>
</html>


