<!DOCTYPE html>

<html>
  <head>
    
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Overview - RIP API</title>

<link href="http://code.google.com/css/codesite.pack.04102009.css" type="text/css" rel="stylesheet">
<script src="http://code.google.com/js/codesite_head.pack.04102009.js" type="text/javascript"></script>
<script type="text/javascript">CODESITE_CSITimer['load'].tick('bhs');</script>

<link rel="search" type="application/opensearchdescription+xml" title="Google Code" href="/osd.xml">

<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/iehacks.css"><![endif]-->

    <link href="http://code.google.com/css/semantic_headers.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="http://code.google.com/apis/shared/css/apireference.css" />
    
  </head>

  <body class="gc-documentation">

<div id="codesiteContent">

<a id="gc-topnav-anchor"></a>
<div id="gc-topnav">
  <h1>RIP API</h1>
</div> <!-- end gc-topnav -->


<%- partial('sidebar')%>


<div class="g-unit" id="gc-pagecontent">
        
          <script type="text/javascript">CODESITE_docEarlyProcessing();</script>

        
        <h1 class="page_title">Overview</h1>


<p>The RIP API provides developers with a powerful set of API endpoints for searching, reading, and creating the stories and services to test.</p>

<h2>Available Documentation</h2>
<p>Version 1 is the latest available version of the API. The documentation includes:</p>
<ul>
  <li><strong>Getting Started</strong> and <strong>Using the API</strong> &mdash; Provide information on basic concepts and step-by-step instructions on how to use the common features of the API.
    <p>These guides focus on the RESTful method of invoking the API: HTTP calls that use REST verbs (such as <code>GET</code> and <code>POST</code>) to access JSON data structures.</p>

  </li>
  <li><strong>Reference Guide</strong> &mdash; Provides detailed information about the data structures, method calls, and authentication scopes of the API.</li>
</ul>
<p>You can access the documentation available for the Google Tasks API below:</p>

<table>
  <tr>
    <th>API Version</th>

    <th>Developer's Guide</th>
    <th>Reference</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><span style="text-align: center;">v1</span></td>
    <td><a href="/docs/getting_started.html">Getting Started</a>, 
	<a href="/docs/using.html">Using the API</a></td>

    <td><a href="/docs/reference.html">Reference</a></td>
    <td>Prototype</td>
  </tr>
</table>
<br />
<br />
      </div><!-- end gc-pagecontent -->
    </div><!-- end gooey wrapper -->

    </div> <!-- end codesite content -->

</div><!-- end gc-container -->

<script type="text/javascript">CODESITE_CSITimer['load'].tick('ats');</script>
<script src="http://code.google.com/js/codesite_tail.pack.04102009.js" type="text/javascript"></script>


  </body>
</html>


