<!DOCTYPE html>

<html>
  <head>
    
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>RIP API Terms and Conditions - RIP API</title>

<link href="http://code.google.com/css/codesite.pack.04102009.css" type="text/css" rel="stylesheet">
<script src="http://code.google.com/js/codesite_head.pack.04102009.js" type="text/javascript"></script>

<!--[if IE]><link rel="stylesheet" type="text/css" href="/css/iehacks.css"><![endif]-->

    <link href="http://code.google.com/css/semantic_headers.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="http://code.google.com/apis/shared/css/apireference.css" />
    
  </head>

  <body class="gc-documentation">


<div id="codesiteContent">

<a id="gc-topnav-anchor"></a>
<div id="gc-topnav">
  <h1>RIP API</h1>

  <ul id="terms" class="gc-topnav-tabs">

  </ul>
</div> <!-- end gc-topnav -->


   <%- partial('sidebar') %>

      <div class="g-unit" id="gc-pagecontent">
        
        <script type="text/javascript">CODESITE_docEarlyProcessing();</script>
        
        <h1 class="page_title">RIP API Terms and Conditions</h1>

<p>Thank you for using the RIP API (&quot;API&quot;).</p>
<p>The &quot;API&quot; is provided by Vightel Corporation. (referred to as &quot;Vightel&quot;, &quot;we&quot;, &quot;our&quot;, or &quot;us&quot; in these terms), located at 8303 Winter Wind Ct, Ellicott City MD</p>

<p>These terms outline your rights and responsibilities when using the API, so carefully read them before using any API! By using our APIs, you agree to these terms. If the API makes use of other services, then the terms of service for such services also apply to your use of the API.</p>

<h2>1. Your OpenID Account</h2>
<p>1.1 You may need to create a OpenID account in order to use the API. It&#39;s your responsibility to keep your account and passwords secure.</p>
<p>1.2 In order to access certain APIs, you may be required to provide information about yourself (such as identification or contact details) as part of the registration process for the APIs, or as part of your continued use of the APIs. You agree that any registration information you give to Vightel will always be accurate, correct and up to date.</p>


<h2>2. Using Our APIs</h2>
<p>2.1 You agree that you are responsible for your own conduct and content while using the API and for any resulting consequences. You agree to use the API in accordance with these terms, any additional terms, and any applicable policies or guidelines.</p>
<p>2.2 You may use our API only as permitted by law (including without limitation laws regarding the import or export of data or software, local laws, local regulations, third party-terms of service, or generally accepted practices or guidelines in the relevant jurisdictions).</p>
<p>2.3 You agree not to access (or attempt to access) the API by any means other than through the means that is described in the documentation with respect to the API. Access or use of the API through a means that is not documented is prohibited.</p>
<p>2.4 You agree to comply with and not attempt to circumvent any limits on the total number of requests or on a certain type of request that may be made to the API that Vightel has placed on your overall use of the API.</p>
<p>2.5 If you provide feedback or suggestions about our API then we may use such information without obligation to you.</p>
<p>2.6 The API is designed to help you enhance your websites and applications (&quot;API Client(s)&quot;). Vightel reserves the right to review any API Client for compliance with these terms.</p>
<p>2.7 By using our API, you do not acquire ownership of any rights to the API or the content that is accessed through the API. Except as stated below, these terms also do not grant you the right to use any branding or logos used in the API.</p>

<p>2.8 You own the API Clients that you create.</p>
<p>2.9 If you use the API to develop an API Client, you will protect the privacy and legal rights of those end users. If the end users provide you with user names, passwords, or other login information or personal information, you must make the end users aware that the information will be available to your API Client, and you must provide legally adequate privacy notice and protection for those end users. If your API Client stores information submitted by end users, it must do so securely. If the end user provides you with Account information, you may only use that information to access the end user&#39;s Account when, and for the limited purposes for which, the end user has given you permission to do so.</p>
<p>2.10 You must use the developer credentials or Client IDs assigned to you by Vightel. If your API Client is a software application, you and your API Client also must comply with the Vightel Software Principles.</p>
<p>2.11 Vightel may monitor the use of the API to ensure quality, improve Vightel products and services, and verify your compliance with these terms. You will not interfere with such monitoring. Vightel may use any technical means to overcome such interference.</p>
<p>2.12 In accordance with local laws, regulations, and policies, some of the results from the APIs may not be returned to your API Client.</p>
<p>2.13 Open source software is important to us, and some of the software required by or included in the API may be offered under an open source license. There may be provisions in the open source license that expressly override some of these terms, and in those cases, the overriding provisions apply.</p>
<p>2.14 In connection with your use of the API, you acknowledge that we may send you certain communications, such as service announcements, administrative messages, and other information. Sometimes we provide you the option to opt out of certain types of communications.</p>

<p>2.15 You agree that Vightel may use your company, organization, or product name, screenshots of your API Client, or logo in presentations, marketing materials, customer lists, financial reports, website listings of customers, research and marketing case studies and other marketing-related activities. You may not issue any public announcement regarding your use of the API which suggests partnership with Vightel without Vightel&#39;s prior review and written approval, at Vightel&#39;s sole discretion.</p>

<h2>3. Prohibitions when using the API</h2>
<p>When using the API, the following prohibitions apply to you and your end users and any third parties:</p>
<p>3.1 Use of the API for an illegal or unauthorized purpose is prohibited (including without limitation violation of laws regarding the import or export of data or software, local laws, local regulations, third party-terms of service, or generally accepted practices or guidelines in the relevant jurisdictions).</p>
<p>3.2 Unless expressly permitted in the accompanying documentation, automated querying of an API is prohibited. Any request must, therefore, result from an end user undertaking an action that causes a request to the API.</p>
<p>3.3 You may not sublicense an API for use by a third party. Consequently, you may not create an API Client that is itself an API (or which functions similarly to an API) and offer it for use by third parties.</p>
<p>3.4 You may only access the API by the means described in the documentation and for the uses described therein. Use of undocumented APIs is prohibited.</p>

<p>3.5 You may not issue any public announcement regarding your use of the API which suggests partnership with Vightel without Vightel&#39;s prior review and written approval, which may be granted or withheld at Vightel&#39;s sole discretion.</p>
<p>3.6 Certain of your developer credentials are, by their nature, considered confidential. You shall not disclose such confidential credentials to any third party except your agent(s) using such information solely on your behalf in accordance with this Agreement and under a written duty of confidentiality.</p>
<p>3.7 Our communications to you may contain Vightel confidential information. You shall not disclose Vightel confidential information to any third party without Vightel&#39;s prior written consent.</p>
<p>3.8 Neither you nor your users may create or configure user or developer accounts under false or fraudulent pretenses.</p>
<p>3.9 Neither you nor your users may perform an action with the intent of introducing any viruses, worms, defects, Trojan horses, malware, or any items of a destructive nature.</p>
<p>3.10 Neither you nor your users may defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as the rights of privacy and publicity) of others.</p>
<p>3.11 You will not impersonate another person or entity, or otherwise attempt to hide or misidentify your requests to the API.</p>

<p>3.12 You will not interfere with or disrupt the API or servers or networks connected to the API, or disobey any requirements, procedures, policies or regulations of networks connected to the API.</p>
<p>3.13 You will not reverse engineer or attempt to extract the source code from any API or any related software.</p>
<p>3.14 You will not restrict or inhibit any other user from using and enjoying Vightel products and services.</p>
<p>3.15 You will not use the API intentionally to encourage or promote copyright infringement or the exploitation of copyright-infringing materials.</p>

<h2>4. About Content with our APIs</h2>
<p>4.1 The API may contain some content (such as text, images, videos, audio, or software) that is not Vightel&#39;s. This content is the sole responsibility of the person that makes it available. We may sometimes (but not always, so please don&#39;t assume that we do) review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content especially if we believe that the content is illegal or violates our policies. Finally, content accessible through the API may be subject to intellectual property rights, and, if so, you may not use it unless you obtain express written permission from Vightel or the owner of that content or are otherwise permitted by law.</p>
<p>4.2 You agree that when using content returned through the API, you will not do, and will not permit end users or other third parties to do, the following:</p>

<blockquote>
  <p>(A) Cache or store content through the API longer than permitted by the cache header;</p>
  <p>(B) Copy, modify, sell, lease, lend, convey, distribute, or sublicense to any third party any content returned by the API (except that you may display the content returned from the API to your end users through your API Client in a manner that complies with these terms);</p>
  <p>(C) Scrape, build databases or otherwise create permanent copies of content returned through one or more APIs is prohibited;</p>
  <p>(D) Remove, obscure, or alter any copyright, trademark or other proprietary rights notices, or falsify or delete any author attributions, legal or other proper notices or labels of the origin or source of material contained in the content returned from the API;</p>
  <p>(E) Except as expressly provided, copy, translate, modify, create a derivative work of, or publicly display any content returned from the API;</p>
  <p>(F) Use content from the API as your API Client&#39;s primary content;</p>

  <p>(G) Intermix the content returned from the API with other content in such a way as to make it unclear which content did and did not come from Vightel.</p>
</blockquote>
<p>4.3 Some of our APIs allow you to submit content, and you and your end users retain ownership of any intellectual property rights that you or your end users hold in the content that you or your end user submit to our APIs. What belongs to you or your end users stays yours and your end users.</p>
<p>4.4 By submitting, posting or displaying the content to the APIs through your API Client, you give Vightel a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any content which you submit to the APIs through your API Client for the sole purpose of enabling Vightel to provide Vightel products and services to you and end users. Before you submit content to our APIs through your API Client, please ensure that you have the necessary rights (including the necessary rights from your end users) to grant us the license.</p>
<p>4.5 You agree that when submitting content through the APIs, you will not do, and will not permit end users or other third parties to do, the following:</p>
<blockquote>
  <p>(A) Upload, post, email or transmit or otherwise make available content that promotes pyramid schemes, chain letters or disruptive commercial messages or advertisements; or</p>
  <p>(B) Submit content that falsely expresses or implies that such content is sponsored or endorsed by Vightel.</p>

</blockquote>

<h2>5. Brand Features</h2>
<p>5.1 For purposes of the terms, &quot;Brand Features&quot; shall be defined as the trade names, trademarks, service marks, logos, domain names, and other distinctive brand features of each party, respectively, as secured by such party from time to time. Vightel hereby grants to you a nontransferable, nonsublicenseable, nonexclusive license during the term of the agreement to display Vightel&#39;s Brand Features for the purpose of promoting or advertising that you use the API in accordance with this Section and for the purpose of fulfilling your obligations under this Section.</p>
<p>5.2 In using Vightel Brand Features, you may not:</p>
<ul>
  <li>display a Vightel Brand Feature in any manner that implies a relationship or affiliation with, sponsorship, or endorsement by Vightel, other than your involvement in the API or that can be reasonably interpreted to suggest editorial content has been authored by, or represents the views or opinions of Vightel or Vightel personnel;</li>
  <li>use Vightel Brand Features to disparage Vightel, its products or services;</li>

  <li>display a Vightel Brand Feature in your API Client if it contains or displays adult content or promotes illegal activities, gambling, or the sale of tobacco or alcohol to persons under twenty-one (21) years of age;</li>
  <li>have the Vightel logo as the largest logo in your API Client (except as displayed in the content returned from the API itself);</li>
  <li>display a Vightel Brand Feature as the most prominent element on any page of your API Client;</li>
  <li>display a Vightel Brand Feature in a manner that is misleading, defamatory, infringing, libelous, disparaging, obscene or otherwise objectionable to Vightel;</li>
  <li>display a Vightel Brand Feature on a API Client that violates any law or regulation;</li>
  <li>remove, distort or alter any element of a Vightel Brand Feature (this includes squeezing, stretching, inverting, discoloring, etc.);</li>

  <li>challenge or assist others to challenge the Brand Features of Vightel (except to the extent such restriction is prohibited by law) or the registration thereof by Vightel; or</li>
  <li>attempt to register any Brand Features (including domain names) that are confusingly similar in any way (including but not limited to, sound, appearance and spelling) to those of Vightel.</li>
</ul>
<p>5.3 You understand and agree that Vightel has the sole discretion to determine whether your use of Vightel Brand Features is in accordance with the above restrictions.</p>
<p>5.4 Except as set forth in this agreement, nothing shall grant or shall be deemed to grant to one party any right, title or interest in or to the other party&#39;s Brand Features. All use by you of Vightel&#39;s Brand Features (including any goodwill associated therewith) shall inure to the benefit of Vightel.</p>
<p>5.5 You agree to include and display the &quot;powered by Vightel&quot; attribution, or any other attribution(s) required by Vightel as described in the documentation, conspicuously on the API Client.</p>

<p>5.6 You understand and agree that Vightel has the sole discretion to determine whether your attribution(s) is in compliance with the above requirements.</p>

<h2>6. Privacy and Copyright Protection</h2>
<p>6.1 Vightel&#39;s general privacy policy information for some of our APIs explain how we treat your personal data and protect your privacy when you use our APIs. By using our APIs, you agree that Vightel can use that data in accordance with these policies.</p>
<p>6.2 We provide information to help copyright holders manage their intellectual property online, but we can&#39;t determine whether something is being used legally or not without their input. We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act. If you think somebody is violating your copyrights, please email <a href='mailto:info@vightel.com'>us</a>.</p>

<h2>7. Fees</h2>
<p>7.1 This API is provided to you free, meaning we don&#39;t charge you to use it, but it is possible that you may have your own relationships with third parties (for example, your mobile phone company or Internet access provider) that charge you fees for other aspects of your usage (like a monthly fee for your Internet connection). We also reserve the right to charge for use of any API in the future, even if provided for free now.</p>

<h2>8. Modifying and Terminating Our APIs</h2>
<p>8.1 We are constantly changing and improving our APIs in order to provide the best possible experience. You acknowledge and agree that the form and nature of the APIs which Vightel provides may change from time to time without prior notice to you.</p>
<p>8.2 You can stop using our API at any time, although we&#39;ll be sorry to see you go.</p>
<p>Vightel may at any time, terminate this agreement or your access to the API at its discretion without prior notice to you.</p>
<p>8.3 We believe that your data is your own and preserving your access to this data is important. However, in the above situations, we may need to disable your account, and you may not have access to account information, files and content. If we discontinue your access to an API, where reasonably possible, we will give you reasonable notice and a reasonable amount of time to get account information, files and content out of that API.</p>

<p>8.4 Upon any termination of this agreement or discontinuation of your access to the API, you shall immediately stop and thereafter desist from using the API and delete all content returned from the API in your possession or control (including, without limitation, from your servers). Vightel may independently communicate with any account owner whose account(s) are associated with your API Client and developer credentials to provide notice of both the termination of your right to use the API and the display of any advertisements associated with your API Clients.</p>
<p>8.5 When this legal agreement comes to an end, those terms that by their nature are intended to continue indefinitely will continue to apply, including but not limited to: Sections 2.6, 8, 9, and 10.</p>

<h2>9. Liability for Our APIs</h2>
<p>9.1 WE HOPE THAT YOU WILL ENJOY USING THE API, BUT NEITHER Vightel NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT IT. FOR EXAMPLE, WE DON&#39;T PROVIDE ANY COMMITMENTS ABOUT THE QUALITY OF THE API OR THE CONTENT ACCESSED THROUGH THE API, THEIR RELIABILITY, AVAILABILITY OR WHETHER THEY WILL WORK THE WAY YOU WANT. THE API AND CONTENT ACCESSED THROUGH THE API IS PROVIDED &quot;AS IS&quot;. THE LAW SOMETIMES PROVIDES FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WHEN PERMITTED BY LAW, WE EXCLUDE ALL IMPLIED WARRANTIES.</p>
<p>9.2 If you are using the API in your personal capacity for a domestic purpose, then nothing in these terms or any additional terms limits any legal rights to which you are always entitled as a consumer.</p>
<p>9.3 You agree that you are solely responsible for (and that Vightel has no responsibility to you or to any third party for) any breach of your obligations under these terms and for the consequences (including any loss or damage which Vightel may suffer) of any such breach.</p>
<p>9.4 WHEN PERMITTED BY LAW, Vightel, AND Vightel&#39;S SUPPLIERS OR DISTRIBUTORS WILL NOT BE RESPONSIBLE FOR LOST REVENUES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES. TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF Vightel AND ITS SUPPLIERS AND DISTRIBUTORS WILL NOT EXCEED THE AMOUNT THAT YOU HAVE PAID US TO USE THE APIS. NOTHING IN THESE TERMS LIMITS YOUR RESPONSIBILITY FOR INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS.</p>

<p>9.5 You will indemnify, defend and hold Vightel, its agents, affiliates, and licensors harmless from any claim, costs, losses, damages, liabilities, judgments and expenses (including reasonable fees of attorneys and other professionals), arising out of or in connection with any claim, action or proceeding (any and all of which are &quot;Claims&quot;) by a third party arising out of your misuse of the API.</p>

<h2>10. About These Terms</h2>
<p>10.1 We may modify these terms or any additional terms that apply to this API occasionally, for example, to reflect changes to the law or changes to the API. You should look at the terms regularly. Unless otherwise stated, the changes will not apply retroactively and will become effective no sooner than 7 days after they are posted. However, changes specific to new functionality for the API or changes made for legal reasons will be effective immediately. If you do not agree to modified terms for the API, please stop using it.</p>
<p>10.2 These terms control the relationship between Vightel and you. They do not create any third party beneficiary rights.</p>
<p>10.3 If you do not comply with these terms, and we don&#39;t take action right away, this doesn&#39;t mean that we are giving up any rights that we may have (such as taking action in the future).</p>

<p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
<p>You agree that the laws of Maryland will apply to these terms. In addition, for any dispute arising out of or related to these terms, the parties consent to personal jurisdiction in, and the exclusive venue of, the courts in Ellicott City, Maryland.</p>

<p>May 2011</p>

      </div><!-- end gc-pagecontent -->
    </div><!-- end gooey wrapper -->

    </div> <!-- end codesite content -->


<div id="gc-footer" dir="ltr">
  <div class="text">


  </div>
</div><!-- end gc-footer -->

</div><!-- end gc-container -->

<script type="text/javascript">CODESITE_CSITimer['load'].tick('ats');</script>
<script src="/js/codesite_tail.pack.04102009.js" type="text/javascript"></script>



  </body>
</html>


