body
	h1 GData 2.0 Caching Headers

	#role	a web service
	#want	pay attention to caching header information
	#benefit avoid sending superfluopus data
		
	#rationale This reduces overall bandwidth.
	
	h2 Acceptance Criteria
	#given	http transaction
	#when	using GData 2.0 protocol 
	#then  	I should use GData-Version 2.0 in headers
	#then  	I should use ETag in headers
	#then  	I should use Last-Modified in headers
	#then  	I should return a 304 Not Modified if using If-None-Match
	#then  	I should return a 304 Not Modified if using Last-Modified
	#then  	I should support Conditional Replace with If-Match: in headers
	#then  	I should support Conditional Replace with If-Match: in headers
	#then  	I should support Override Replace with If-Match: * in headers
	#then  	I should support Conditional Delete with If-Match: in headers
	#then  	I should support Delete with If-Match: * in headers