<img src='/images/RIP.png' width=200 />

p RIP is an API Tester designed to test web services for "RESTfulness" with the ultimate goal of helping us develop guidance for our own geospatial standards.

p This service has been developed using the <a href='http://nodejs.org/'>Node.js</a> platform, <a href='http://expressjs.com/'>Express</a> and <a href='http://visionmedia.github.com/mocha/'>Mocha</a>.
p It is hosted by <a href='http://nodejitsu.com/'>NodeJitsu</a> and the <a href='http://www.joyent.com/'>JoyentCloud</a>
p The code is open source and available on <a href='https://github.com/cappelaere/rip'>GitHub</a>

h3 Contributors
	
	ul
		li 
			a(href='mailto:pat@cappelaere.com') Pat Cappelaere, Vightel
		li
			a(href='mailto:Peter.Rushforth@NRCan-RNCan.gc.ca') Peter Rushforth, GeoConnections
		li
			a(href='mailto:Peter.Rushforth@NRCan-RNCan.gc.ca') Herve Caumont, Terradue
		li
			a(href='mailto:pvretano@cubewerx.com') Panagiotis (Peter) A. Vretanos, Cubewerx
		li
			a(href='mailto:jharrison@thecarbonproject.com') Jeff Harrison, The Carbon Project
		li
			a(href='mailto:volker@couchbase.com') Volker Mische, Couchbase
			
				