<img src='/images/RIP.png' width=200 />

<h2>Welcome</b> to the REST Interface Policy Checker!</h2>

<p>We are currently researching the best practices to be used for the next generation of RESTful services. This "REST Interface Policy (RIP) Checker constitutes an investigative tool to gather feedback from the community at large.</p>

<p>The vision is to create the user stories that encapsulate those best practices, and test them against user specified end points. The results ought to give an idea of how far such best practices may constitute an enforceable policy or standard for RESTful services.</p>

<p>Feel free to browse the current user stories <a href='/ustories'>here</a> and then run them against a service <a href='/tests'>here</a>.</p>
<p>Join and Participate in our <a href='https://groups.google.com/forum/embed/?place=forum/ripjitsu&showsearch=true&showpopout=true&showtabs=false'>RIP Google Group</a></p>

<p>Contact <a href='mailto:pat@cappelaere.com'>me</a> for any questions or interest in hosting your own independent testing as a service.</p>

<h3>Disclaimers:</h3>
<dl>
<li>This is currently in Open Source beta with no guaranty of 24x7 availability</li>
<li>Please consider a production version of this capability if necessary</li>
<li>These user stories have not been approved by any Community</li>
</dl> 
