<h2>Welcome</b> to the OGC REST Interface Policy Checker!</h2>
<p>The OGC REST Policy Software Working Group is currently researching the best practices to be used for the next generation of its RESTful services.</p>
<p>The vision is to create the user stories that encapsulate those best practices and test the policy against user specified end points.  The results ought to give an idea of how close that service may comply against the current OGC Policy for its RESTful services</p>
<p>Feel free to browse the current user stories <a href='/ustories'>here</a> and then run them against a service <a href='/tests'>here</a>
<p>Contact <a href='mailto:pat@cappelaere.com'>me</a> for any questions/concerns/complaints</p>
