<img src='/images/OGC.png' width=200 />

<h2>Welcome</b> to the <a href='http://www.opengeospatial.org'>OGC</a> REST Interface Policy Checker!</h2>

<p>The OGC REST Policy Standard Working Group is currently researching the best practices to be used for the next generation of OGC RESTful services. This "OGC REST Interface Policy Checker" constitutes an investigative tool to gather feedback from the community at large.</p>

<p>The vision is to create the user stories that encapsulate those best practices, and test them against user specified end points. The results ought to give an idea of how far such best practices may constitute/feed-in the future OGC Policy for its RESTful services.</p>

<p>Feel free to browse the current user stories <a href='/ustories'>here</a> and then run them against a service <a href='/tests'>here</a></p>

<p>Please send us any feedback <a href='https://groups.google.com/forum/#!forum/ogc_rest_swg'>here</a> 

<p>or contact <a href='mailto:pat@cappelaere.com'>me</a> for any private questions/concerns/complaints</p>

<h3>Disclaimer:</h3>
<dl>
<li>This an an experimental server with no guaranty of 24x7 availability</li>
<li>These user stories have not been approved by the OGC Community</li>
</dl> 
