body
	h1 Links to Discovery documents in Head

	#role	an External Application
	#want	find links to the various Discovery Documents
	#benefit can understand API
		
	#rationale This allows an external application to get knowledge information regarding the service

	h2 Acceptance Criteria
	#given	available web service endpoint
	#when	I access the page
	#then  	I can find a link to the API discovery document
	#and  	I can find a link to the OpenSearch document
	#and  	I can find a link to the API Explorer document
	#and  	I can find a link to the Documentation root
	