body
	h1 HTML5

	#role	an External Application
	#want	scrape the head of landing page
	#benefit can find various document links
		
	#rationale This allows the application to mine to API.  It requires the page to be properly formatted using HTML5.

	h2 Acceptance Criteria
	#given	published web service endpoint
	#when	I access the landing page
	#then  	I can find an HTML5 namespace