body
	h1 Compression

	#role	an web service
	#want	compress large outputs
	#benefit reduce bandwidth consumption
		
	#rationale This allows reduced bandwidth consumption.

	h2 Acceptance Criteria
	#given	large content
	#when	I compress the content using gzip
	#then  	I can reduce bandwidth