!!! 5
html(lang='en')
	head
	title="REST in PEACE"
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/user_stories.css')
	link(rel='stylesheet', href='/stylesheets/mocha.css')
	
body!= body


hr

a(href='/') Home &nbsp;
a(href='/ustories') Stories &nbsp;
a(href='/tests') Tests &nbsp;




