!!! 5
html(lang='en')
	head
	title="REST in PEACE"
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/user_stories.css')
	link(rel='stylesheet', href='/stylesheets/mocha.css')
	link(rel='stylesheet', href='/stylesheets/tab.css')
	meta(property="fb:admins", content="100004170155086")
	
		
	script(src='/javascripts/ga_social_tracking.js')
	
body!= body


hr

a(href='/') Home &nbsp;
a(href='/ustories') Stories &nbsp;
a(href='/tests') Tests &nbsp;
a(href='/services/3') Scores &nbsp;

div(id='right-sidebar')
	a(href='/about') About &nbsp;
	a(href='/session/check') Login &nbsp;

div(id="fb-root")

script
	(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
	
script(type="text/javascript")
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', '#{trackingID}' ]);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	

