<html>
  <head>
    <title>RIP Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- body %>

	<hr/>

	<a( href='/'> Home</a> &nbsp;
	<a href='/ustories'> Stories </a> &nbsp;
	<a href='/tests'> Tests</a> &nbsp;

  </body>
</html>