!!! 5
html(lang='en', xmlns="http://www.w3.org/1999/xhtml")
	head
		title="REST in PEACE"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/user_stories.css')
		link(rel='stylesheet', href='/stylesheets/mocha.css')
		link(rel='stylesheet', href='/stylesheets/tab.css')
		meta(property="fb:admins", content="100004170155086")
	
		link(rel="search", type="application/opensearchdescription+xml", href="/opensearch/services_search", title="RIP Services Search")
		link(rel="search", type="application/opensearchdescription+xml", href="/opensearch/stories_search", title="RIP Stories Search")	
		link(rel="discovery", type="application/json", href="/discovery", title="RIP Service Discovery Document")
		link(rel="explorer", type="text/html", href="/api", title="RADARSAT API Explorer")
		link(rel="docs", type="text/html", href="/docs", title="RADARSAT Documentation")

		link(rel="alternate", type="application/atom+xml", href="/rtests.atom", title="RIP Tests Feed")

		script(src='/javascripts/ga_social_tracking.js')
	
	body!= body


	hr

	a(href='/') Home &nbsp;
	a(href='/ustories') Stories &nbsp;
	a(href='/rtests') Tests &nbsp;
	a(href='/analytics') Analytics &nbsp;

	div(id='right-sidebar')
		a(href='/about') About &nbsp;
		a(href='/session/check') Login &nbsp;

		div(id="fb-root")

	script
		(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
	
	script(type="text/javascript")
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '#{trackingID}' ]);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	

