<html>
  <head>
    <title>RIP Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- body %>

	<hr/>

	<a( href='/'> Home</a> &nbsp;
	<a href='/ustories'> Stories </a> &nbsp;
	<a href='/tests'> Tests</a> &nbsp;
	<a href='/services'> Scores</a> &nbsp;
	
	<div id='right-sidebar'>
		<a href='/about'> About</a> &nbsp;
		<a href='/session/check'> Login</a> &nbsp;
	</div>
	
  </body>
</html>