h2 Test RESTful Service

form(method='post',action='/tests/sio')
	p
	table
		tr
			td
				label Enter URL: &nbsp;
				input(type='text', id='inp', name='params[url]', value='http://radarsat.geobliki.com', size="40") &nbsp;
		
			td
				label Options: &nbsp;
				select(id='select_url', name='select_url' )
					- for( u in urls )
						option(value!=urls[u]) #{urls[u]}
	p
	<b>With Selected Preferences:</b>

	p 
	label Service Discovery:&nbsp;
	select(id='params[discovery]', name='params[discovery]' )
		option(value="GoogleDiscoveryAPI", selected ) Google Discovery API
		option(value="NoDiscovery" ) None
		option(value="AtompubDiscoveryAPI" ) AtomPub Service Document
		option(value="GeoservicesDiscoveryAPI" ) GeoService Catalog Document

	p
	input(  type='checkbox', name='params[OpenSearch]', checked)
	Label Uses OpenSearch

	p
	input(  type='checkbox', name='params[Atom]', checked)
	Label Uses Atom Protocol for Data Feeds

	p
	input(  type='checkbox', name='params[ExtendAtom]', checked)
	Label Extends Atom Feeds using
	
	&nbsp;
	
	select(id='params[AtomExtension]', name='params[AtomExtension]' )
		option(value="GData2", selected ) GData 2.0
		option(value="GData1" ) GData 1.0
		option(value="OData1" ) OData 1.0
		
		
	p
	input(  type='checkbox', name='params[ExtendJSON]', checked)
	Label Extends JSON using
	&nbsp;

	select(id='params[JSONExtension]', name='params[JSONExtension]' )
		option(value="Siren", selected ) Siren
		option(value="HAL" ) HAL
		
	p
	input(type="submit", value="Submit")

	script(src='/javascripts/jquery-1.5.min.js')
	script(type='text/javascript')
		var selectoption = document.getElementById("select_url")
		selectoption.onchange=function(){
			var opt = this.options[this.selectedIndex].value
			$('#inp').val(opt)
		}