h2 Test RESTful Service

ol(id="toc")

	li(class='current')
		a(href='/rtests/levels/0') 
			span Level 0

	li
		a(href="/rtests/levels/1")
			span Level 1

	li
		a(href="/rtests/levels/2")
			span Level 2

	li
		a(href="/rtest/levels/3")
			span Level 3

div(class="content")
	h2 Level 0

