h2 Test RESTful Service 
	a(href='http://www.crummy.com/writing/speaking/2008-QCon/act3.html') Richardson Maturity 
	span Level 1

i(style="color:gray")
	ul
		li Many URI's, one HTTP method
		li Most RESTful services that aren't
			
ol(id="toc")
	li
		a(href='/rtests/levels/0')
			span Level 0
			
	li(class='current')
		a(href="/rtests/levels/1")
			span Level 1
	li
		a(href="/rtests/levels/2")
			span Level 2
	li
		a(href="/rtests/levels/3")
			span Level 3

div(class="content")
	h2 Richardson Maturity Level 1... To Be Done...
	
	p Please, Sponsor this page!