<html>
  <head>
    <title>Mocha Run</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/mocha.css" />
	<script src='/javascripts/showhide.js'></script>
	<script src='/javascripts/jquery-1.5.min.js'></script>
  </head>
	
  <body>
	<h2><b>Testing: <%= url %> </b></h2>
	<div id="mocha"> 
		<ul id='report'>
		<%- results %>
		</ul>
	</div>
  </body>
</html>