<html>
  <head>
    <title>Mocha Run</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/mocha.css" />
	<script src='/javascripts/showhide.js'></script>
  </head>

  <body>

<h2>
	<b>Testing: http://radarsat.geobliki.com</b>
</h2>
<div id="mocha">
	<ul id="stats">
		<li class="passes">passes: <em>19</em>
		</li>
		<li class="failures">failures: <em>1</em>
		</li>
		<li class="duration">duration: <em>0.47</em>ms
		</li>
	</ul>
	<ul id='report'>
		<li class="suite">
			<h1>
				<a href="http://localhost:3000/stories?q=Array">Array</a>
			</h1>
		</li>
		<li class="suite">
			<h1>
				<a href="http://localhost:3000/stories?q=Array%20/.push/(/)">.push()</a>
			</h1>
		</li>
		<li class="test pass fast">
			<h2 onclick="ShowHidePre('pre_1');">
				should append a value<span class="duration">1ms</span>
			</h2>
			<pre id="pre_1" style="display: none;">
				<code>var arr = [];
					arr.push('foo');
					arr.push('bar');
					expect(arr[0]).to.equal('foo');
					expect(arr[1]).to.equal('bar');
				</code>
			</pre>
		</li>
	</ul>
</div>
</body>
</html>