body
	h1 Support Custom Mime Types

	#role	an External Application
	#want	specify the application custom Mime using Accept Headers
	#benefit can signify my acceptance of the interface and get proper resource representation
		
	#rationale This allows an external application to get resources using a specific representation that may be easier to process.